html body {
    background: rgb(31, 31, 31);
}

#app {
    font-family: 'Source Sans Pro';
    color: rgb(228, 228, 228);
    width: 54vw;
    margin-left: 23vw;
}

#header {
    padding-top: 5vh;
    padding-bottom: 10vh;
}

#title {
    font-size: 32px;
}

#row {
    padding-bottom: 40px;
}

#left-col {
    padding-left: 0px;
}

#center-img {
    display: block;
    margin: 0 auto;
}

#right-img {
    float: right;
}

#right-col {
    padding-right: 0px;
}