html body {
    background: rgb(24, 26, 27);
}

#app {
    font-family: 'Source Sans Pro';
    color: rgb(228, 228, 228);
    width: 54vw;
    margin-left: 23vw;
}

#header {
    padding-top: 3vh;
    padding-bottom: 7vh;
}

#title {
    font-size: 32px;
}

#category {
    font-size: 20px;
    font-family: 'Roboto Mono';
    font-weight: bold;
    padding-bottom: 50px;
}

#row {
    padding-bottom: 40px;
}

#left-col {
    padding-left: 0px;
}

#card-desc {
    position: absolute;
    text-align: center;
    width: 290px;
    top: 50px;
    opacity: 0;
    transition: 0.3s all ease;
    font-family: 'Inconsolata';
}

#left-img {
    transition: 0.3s all ease;
    position: relative;
    z-index: 100;
}

#left-img:hover {
    opacity: 0.2;
}

#left-img:hover + #card-desc {
    opacity: 1;
}

#center-img {
    display: block;
    margin: 0 auto;
    transition: 0.3s all ease;
    position: relative;
    z-index: 100;
}

#center-img:hover {
    opacity: 0.2;
}

#center-img:hover + #card-desc {
    opacity: 1;
}

#right-img {
    float: right;
    transition: 0.3s all ease;
    position: relative;
    z-index: 100;
}

#right-img:hover {
    opacity: 0.2;
}

#right-img:hover + #card-desc {
    opacity: 1;
}

#right-col {
    padding-right: 0px;
}

#card-title {
    font-size: 14px;
    font-family: 'Roboto Mono';
    padding-top: 5px;
}

#card-title-text-mid {
    padding-left: 6px;
}

#card-title-text-right {
    padding-left: 15px;
}

#footer {
    padding-top: 150px;
    padding-bottom: 40px;
}

#icon-container {
    max-width: 55vw;
    text-align: center;
}

#footer-div {
    position: relative;
    display: inline-block;
    padding: 10px;
}

#footer-link:active, #footer-link:focus {
    outline: none;
}

#footer-icon {
    width: 25px;
    height: auto;
    -webkit-filter: invert(85%);
    filter: invert(85%);
    transition: 0.3s all ease;
}

#footer-icon:hover {
    -webkit-filter: invert(40%);
    filter: invert(40%);
}

#footer-text-container {
    text-align: center;
}

#copyright-text {
    font-size: 14px;
}

#notfound {
    font-family: 'Roboto Mono';
    font-size: 48px;
    text-align: center;
}

#repo-title {
    font-family: 'Roboto Mono';
    font-size: 28px;
    color: pink;
}