html body {
    background: rgb(24, 26, 27);
}

#app {
    font-family: 'Source Sans Pro';
    color: rgb(228, 228, 228);
    width: 54vw;
    margin-left: 23vw;
}

#header {
    padding-top: 3vh;
    padding-bottom: 7vh;
}

#title {
    font-size: 32px;
}

#category {
    font-size: 20px;
    font-family: 'Roboto Mono';
    font-weight: bold;
    padding-bottom: 50px;
    color: rgb(50, 173, 50);
}

#row {
    padding-bottom: 40px;
}

#card-desc {
    position: absolute;
    text-align: center;
    width: 14vw;
    top: 3vmax;
    opacity: 0;
    transition: 0.3s all ease;
    font-family: 'Inconsolata';
    font-size: 0.7vmax;
    padding-left: 1.3vw;
}

#left-img {
    transition: 0.3s all ease;
    position: relative;
    z-index: 100;
    max-width: 100%;
    height: auto;
}

#left-img:hover {
    opacity: 0.2;
}

#left-img:hover + #card-desc {
    opacity: 1;
}

#center-img {
    transition: 0.3s all ease;
    position: relative;
    z-index: 100;
    max-width: 100%;
    height: auto;
}

#center-img:hover {
    opacity: 0.2;
}

#center-img:hover + #card-desc {
    opacity: 1;
}

#right-img {
    transition: 0.3s all ease;
    position: relative;
    z-index: 100;
    max-width: 100%;
    height: auto;
}

#right-img:hover {
    opacity: 0.2;
}

#right-img:hover + #card-desc {
    opacity: 1;
}

#card-link {
    color: rgb(228, 228, 228);
    transition: 0.3s all ease;
}

#card-link:hover {
    text-decoration: none;
    opacity: 0.6;
}

#card-title {
    font-size: 0.75vmax;
    font-family: 'Roboto Mono';
    padding-top: 5px;
    width: max-content;
}

#footer {
    padding-top: 150px;
    padding-bottom: 40px;
}

#icon-container {
    max-width: 55vw;
    text-align: center;
}

#footer-div {
    position: relative;
    display: inline-block;
    padding: 10px;
}

#footer-link:active, #footer-link:focus, #github-link:active, #github-link:focus, #site-link:active, #site-link:focus {
    outline: none;
}

#footer-icon {
    width: 25px;
    height: auto;
    -webkit-filter: invert(85%);
    filter: invert(85%);
    transition: 0.3s all ease;
}

#footer-icon:hover  {
    -webkit-filter: invert(40%);
    filter: invert(40%);
}

#footer-text-container {
    text-align: center;
}

#copyright-text {
    font-size: 14px;
}

#notfound {
    font-family: 'Roboto Mono';
    font-size: 48px;
    text-align: center;
}

#repo-title {
    font-family: 'Roboto Mono';
    font-size: 28px;
    color: pink;
}

#repo-gist {
    -webkit-filter: invert(1);
    filter: invert(1);
}

#repo-summary,
#repo-images,
#repo-preview {
    font-family: 'Roboto Mono';
    font-size: 24px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 20px;
}

#repo-icon {
    width: 25px;
    height: auto;
    filter: invert(66%) sepia(59%) saturate(205%) hue-rotate(303deg) brightness(110%) contrast(104%); 
    -webkit-filter: invert(66%) sepia(59%) saturate(205%) hue-rotate(303deg) brightness(110%) contrast(104%); 
    transition: 0.3s all ease;
}

#repo-icon:hover {
    opacity: 0.4;
}

#repo-contents {
    font-family: 'Roboto Mono';
    font-size: 18px;
    color: pink;
    width: max-content;
    transition: 0.2s all ease;
}

#repo-contents:hover {
    opacity: 0.5;
}

#section-link:hover {
    text-decoration: none;
}

#about-title {
    font-family: 'Roboto Mono';
    font-size: 28px;
    font-weight: bold;
    color: rgb(50, 173, 50);
}

#about-text {
    font-family: 'Roboto Mono';
    font-size: 19px;
    padding-top: 40px;
}

#about-icon {
    width: 35px;
    height: auto;
    margin-right: 48px;
    transition: 0.2s all ease;
}

#about-icon:hover {
    opacity: 0.5;
}

#header-link {
    color: rgb(228, 228, 228);
}

#header-link:active, #header-link:focus {
    outline: none;
}

#header-link:hover {
    opacity: 0.8;
    text-decoration: none;
}

#summary {
    font-family: 'Roboto Mono';
    font-size: 18px;
    padding-left: 8px;
}

#example-img {
    padding-bottom: 50px;
    max-width: 100%;
    display: block;
    height: auto;
}
